<html>
<head>
	<%= stylesheet_link_tag 'ryuryu' %>
	<%= javascript_src_tag 'jquery-1.4.1.min', {} %>
	<%= javascript_src_tag 'jquery-ui-1.8rc1.custom.min', {} %>
	<%= javascript_src_tag 'ryuryu', {} %>
	<%= javascript_src_tag 'board', {} %>
	<%= javascript_src_tag 'boardDisplay', {} %>
	<%= javascript_src_tag 'editOverlay', {} %>
</head>
<body>
<%= yield %>
</body>
</html>